<footer class="ps-footer">
    <div class="container">
        <div class="ps-footer--contact">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <p class="contact__title">Contact Us</p>
                    <p><b><i class="icon-telephone"> </i>Hotline: </b><span>(7:00 - 21:30)</span></p>
                    <p class="telephone">097 978-6290<br>097 343-8888</p>
                    <p> <b>Head office: </b>8049 High Ridge St. Saint Joseph, MI 49085</p>
                    <p> <b>Email us: </b>support@farmart.com</p>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <p class="contact__title">Help & Info<span class="footer-toggle"><i class="icon-chevron-down"></i></span></p>
                            <ul class="footer-list">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Sore Locations</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Flash Sale</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                            <hr>
                        </div>
                        <div class="col-12 col-lg-6">
                            <p class="contact__title">Corporate<span class="footer-toggle"><i class="icon-chevron-down"></i></span></p>
                            <ul class="footer-list">
                                <li><a href="#">Become a Vendor</a></li>
                                <li><a href="#">Affiliate Program</a></li>
                                <li><a href="#">Farm Business</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Our Suppliers</a></li>
                                <li><a href="#">Accessibility</a></li>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <p class="contact__title">Newsletter Subscription</p>
                    <p>Join our email subscription now to get updates on <b>promotions </b>and <b>coupons.</b></p>
                    <div class="input-group">
                        <div class="input-group-prepend"><i class="icon-envelope"></i></div>
                        <input class="form-control" type="text" placeholder="Enter your email...">
                        <div class="input-group-append">
                            <button class="btn">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-footer--service">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="service__payment"><img src="img/promotion/payment_paypal.jpg" alt><img src="img/promotion/payment_visa.jpg" alt><img src="img/promotion/payment_mastercart.jpg" alt><img src="img/promotion/payment_electron.jpg" alt><img src="img/promotion/payment_skrill.jpg"
                            alt></div>
                    <p class="service__app">Get Farmart App to <span class="text-success">get $15 coupon</span></p>
                    <div class="service__download">
                        <a href="contact.html"><img src="img/promotion/appStore.jpg" alt></a>
                        <a href="contact.html"><img src="img/promotion/googlePlay.jpg" alt></a>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <a href="contact.html"><img src="img/promotion/badges_01.jpg" alt></a>
                            </td>
                            <td>
                                <a href="contact.html"><img src="img/promotion/badges_02.jpg" alt></a>
                            </td>
                            <td>
                                <a href="contact.html"><img src="img/promotion/badges_03.jpg" alt></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="contact.html"><img src="img/promotion/badges_04.jpg" alt></a>
                            </td>
                            <td>
                                <a href="contact.html"><img src="img/promotion/badges_05.jpg" alt></a>
                            </td>
                            <td>
                                <a href="contact.html"><img src="img/promotion/badges_06.jpg" alt></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="service--block">
                        <p class="service__item"> <i class="icon-speed-fast"></i><span> <b>Fast Delivery </b>& Shipping</span></p>
                        <p class="service__item"> <i class="icon-color-sampler"></i><span>Top <b>Offers</b></span></p>
                        <p class="service__item"> <i class="icon-wallet"></i><span>Money <b>Cashback</b></span></p>
                        <p class="service__item"> <i class="icon-bubble-user"></i><span>Friendly <b>Support 24/7</b></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-footer--categories">
            <div class="categories__list"><b>Fresh: </b>
                <ul class="menu--vertical">
                    <li class="menu-item"><a href="shop-categories.html">Meat & Poultry</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Fruit</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Vegetables</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Salad & Herbs</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Yoghurts</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Milk, Butter & Eggs</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Ham, Deli & Dips</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Cheese</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Fish</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Pizza & Garlic Bread</a></li>
                </ul>
            </div>
            <div class="categories__list"><b>Food Cupboard: </b>
                <ul class="menu--vertical">
                    <li class="menu-item"><a href="shop-categories.html">Crisps, Snacks & Nuts</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Breakfast Cereals</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Tins & Cans</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Chocolate & Sweets</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Biscuits</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Rice, Pasta & Pulses</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Cooking Ingredients</a></li>
                </ul>
            </div>
            <div class="categories__list"><b>Bakery: </b>
                <ul class="menu--vertical">
                    <li class="menu-item"><a href="shop-categories.html">Bread</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Rolls, Bagels & Thins</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Cakes & Treats</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Wraps, Pitta & Naan Bread</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Crumpets, Muffins & Pancakes</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Croissants & Brioche</a></li>
                </ul>
            </div>
            <div class="categories__list"><b>Frozen Foods: </b>
                <ul class="menu--vertical">
                    <li class="menu-item"><a href="shop-categories.html">Ice Cream</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Fruit, Vegetables & Herbs</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Chips, Potatoes & Rice</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Fish</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Vegetarian</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Meat & Poultry</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Ready Meals & Party Food</a></li>
                </ul>
            </div>
            <div class="categories__list"><b>Ready Meals: </b>
                <ul class="menu--vertical">
                    <li class="menu-item"><a href="shop-categories.html">Meals for 1</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Indian</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Italian</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Chinese</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Traditional British</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Thai & Oriental</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Mediterranean & Moroccan</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Mexican & Caribbean</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Kids' Meals</a></li>
                </ul>
            </div>
            <div class="categories__list"><b>Soft Drinks, Tea & Coffee: </b>
                <ul class="menu--vertical">
                    <li class="menu-item"><a href="shop-categories.html">Fizzy Drinks</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Water</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Tea, Coffee & Hot Drinks</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Squash</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Juices</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Mixers</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Diet & No Added Sugar</a></li>
                    <li class="menu-item"><a href="shop-categories.html">Still & Sparkling</a></li>
                </ul>
            </div>
        </div>
        <div class="row ps-footer__copyright">
            <div class="col-12 col-lg-6 ps-footer__text">&copy; 2020 Farmart Marhetplace. All Rights Reversed.</div>
            <div class="col-12 col-lg-6 ps-footer__social"> <a class="icon_social facebook" href="#"><i class="fa fa-facebook-f"></i></a><a class="icon_social twitter" href="#"><i class="fa fa-twitter"></i></a><a class="icon_social google" href="#"><i class="fa fa-google-plus"></i></a><a class="icon_social youtube"
                    href="#"><i class="fa fa-youtube"></i></a><a class="icon_social wifi" href="#"><i class="fa fa-wifi"></i></a></div>
        </div>
    </div>
</footer>